// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Bree Serif',serif;} // font header
.fi {font-family: 'zus-icons',sans-serif;} // font icon

// body
@bb: #f0f0f0; // body background

// colors
@blue: #003577;
@lightblue: #6c36c0;
@green: #73a300;
@lightgreen: #bdd600;
@grey: #636363;
@lightgrey: #9c9c9c;
@cp: @grey; // color primary
@cl: @blue; // color link

// font sizes
@fsp: 17px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 20px;