#page-header {
	.clearfix;
	position: relative;
	.inner {
		.clearfix;
		position: relative;
		z-index: 102;
		margin: 48px 0 0;
		background: fade(#000,50%);
	}
	.logo {
		.fh;
		position: relative;
		z-index: 1;
		float: left;
		width: 560px;
		a {
			position: relative;
			display: block;
			color: #fff;
			padding: 16px 0 16px 262px;
			text-decoration: none;
			font-size: 24px;
			line-height: 1.25;
			&:before{
				.border-radius(120px);
				position: absolute;
				content: url(../images/logo/01.png);
				left: -20px;
				top: -105px;
				width: 240px;
				height: 240px;
				padding: 92px 0 0;
				text-align: center;
				background: #fff;
			}
		}
	}
}
#col-main {
	width: 680px;
	float: right;
}
#col-center {
	width: 460px;
	float: left;
}
#col-right {
	width: 180px;
	float: right;
}
#col-left {
	width: 180px;
	float: left;
}
#content {
	margin: 20px 0;
}
#page-footer {
	padding: 5px 0 20px;
	margin: 30px 0 0;
	background: @blue;
	.copy {
		float: left;
		width: 70%;
		color: #809aa7;
		font-size: 12px;
		text-transform: uppercase;
		p {
			margin: 0 0 10px;
		}
		a {
			color: #809aa7;
		}
	}
	.xart {
		float: right;
		width: 30%;
		text-transform: uppercase;
		font-size: 11px;
		text-align: right;
		a {
			color: #809aa7;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			margin: -2px -5px 0 9px;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(25px);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e805';
			font-size: 20px;
		}
		&:hover{
			background: @cp;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}