.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 0 0 20px;
		li{
			float: left;
			margin-right: 15px;
			font-size: 14px;
			color: @green;
			a {
				color: @lightgrey;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&:before{
				top: 4px;
				font-size: 9px;
				color: @lightgrey;
			}
		}
	}
}
.mod_search {
	position: absolute;
	top: -48px;
	right: 0;
	input[type=text] {
		.rin;
		position: absolute;
		right: 0;
		top: 0;
		width: 240px;
		height: 48px;
		padding: 0 50px 0 20px;
		font-size: 15px;
		color: #fff;
		background: @green;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
		-webkit-transition-delay: 1s;
		-moz-transition-delay: 1s;
		-ms-transition-delay: 1s;
		-o-transition-delay: 1s;
		-transition-delay: 1s;
		&::-webkit-input-placeholder {
			.transition(1s);
			color: #fff;
		}
		&:-moz-placeholder {
			.transition(1s);
			color: #fff;
		}
		&::-moz-placeholder {
			.transition(1s);
			color: #fff;
		}
		&:-ms-input-placeholder {  
			.transition(1s);
			color: #fff;
		}
		&:focus {
			&::-webkit-input-placeholder {
				text-indent: -250px;
			}
			&:-moz-placeholder {
				text-indent: -250px;
			}
			&::-moz-placeholder {
				text-indent: -250px;
			}
			&:-ms-input-placeholder {  
				text-indent: -250px;
			}
		}
	}
	&:hover{
		input[type=text] {
			-webkit-opacity: 1;
			-moz-opacity: 1;
			opacity: 1;
			filter:alpha(opacity=100);
			-webkit-transition-delay: 0s;
			-moz-transition-delay: 0s;
			-ms-transition-delay: 0s;
			-o-transition-delay: 0s;
			-transition-delay: 0s;
		}
	}
	button {
		.rin;
		position: absolute;
		right: 0;
		top: 0;
		white-space: nowrap;
		width: 38px;
		height: 48px;
		overflow: hidden;
		color: #fff;
		font-size: 18px;
		&:before{
			.fi;
			content: '\e800';
			float: left;
			margin: 0 20px 0 0;
		}
		&:hover{
			color: @blue;
		}
	}
}
.mod_custom-contact {
	.fh;
	width: 220px;
	padding: 17px 0 28px 30px;
	float: right;
	font-size: 18px;
	line-height: 1.1;
	border-left: 5px solid @green;
	color: @lightgreen;
	a {
		color: @lightgreen;
	}
	.phone {
		font-size: 29px;
		margin: 0 0 2px;
	}
}
.mod_menu-main {
	overflow: hidden;
	clear: both;
	position: relative;
	z-index: 102;
	&:before{
		position: absolute;
		content: '';
		left: 50%;
		bottom: 0;
		height: 220px;
		width: 960px;
		margin-left: -3780px;
		border-left: 3300px solid @bb;
		border-right: 3300px solid @bb;
		-webkit-box-sizing: initial;
		-moz-box-sizing: initial;
		box-sizing: initial;
	}
	&>.container>ul {
		.rul;
		.clearfix;
		margin: 0 -@content-padding;
		background: url(../images/bg/01.png) repeat-x left bottom;
		&>li {
			.rli;
			position: relative;
			width: 25%;
			float: left;
			text-align: center;
			padding: 0 10px;
			height: 366px;
			.homepage & {
				height: 645px;
			}
			&>a {
				.fh;
				position: absolute;
				z-index: 1;
				display: block;
				left: 0;
				bottom: 0;
				height: 86px;
				width: 100%;
				font-size: 24px;
				line-height: 1.2;
				text-decoration: none;
				text-align: center;
				color: @blue;
				.icon {
					.transition(0.2s);
					.border-radius(100px);
					position: absolute;
					left: 20px;
					bottom: 120px;
					width: 200px;
					height: 200px;
					padding: 36px 0 0;
					background: @blue;
					&:before{
						.transition(0.2s);
						display: none;
						position: absolute;
						content: '';
						bottom: 100%;
						left: 50%;
						margin: 0 0 -2px -14px;
						border: 14px solid transparent;
						border-bottom-color: @blue;
						border-bottom-width: 18px;
					}
				}
				&:hover {
					.icon {
						background: darken(@blue,5%);
						&:before{
							border-bottom-color: darken(@blue,5%);
						}
					}
				}
			}
			.dropdown {
				.transition(0.8s);
				position: absolute;
				bottom: 220px;
				left: 20px;
				right: 20px;
				height: 0;
				padding: 0;
				background: fade(@blue,70%);
				color: #fff;
				line-height: 1.2;
				overflow: hidden;
				h2 {
					font-size: 20px;
					margin: 0;
					text-transform: uppercase;
				}
				p {
					margin: 10px 0;
				}
				&:before{
					.fi;
					position: absolute;
					content: '';
					bottom: 0;
					left: 0;
					width: 100%;
					text-align: center;
				}
				nav {
					a {
						.transition(left 0.4s);
						position: absolute;
						left: -10%;
						bottom: 140px;
						width: 40px;
						margin: 0 0 0 -20px;
						text-indent: -9999em;
						color: fade(#fff,50%);
						text-decoration: none;
						-webkit-transition-delay: 0.4s;
						-moz-transition-delay: 0.4s;
						-ms-transition-delay: 0.4s;
						-o-transition-delay: 0.4s;
						-transition-delay: 0.4s;
						&:before{
							.fi;
							position: absolute;
							content: '\e806';
							left: 0;
							top: 0;
							text-align: center;
							width: 100%;
							text-indent: 0;
							font-size: 36px;
							line-height: 1;
						}
						&:hover{
							color: #fff;
						}
					}
				}
			}
			&:hover{
				.dropdown {
					height: 425px;
					padding: 70px 20px 0;
					nav {
						a {
							left: 50%;
						}
					}
				}
			}
			&.item_02 {
				&>a {
					color: @lightblue;
					.icon {
						background: @lightblue;
						&:before{
							border-bottom-color: @lightblue;
						}
					}
					&:hover {
						.icon {
							background: darken(@lightblue,5%);
							&:before{
								border-bottom-color: darken(@lightblue,5%);
							}
						}
					}
				}
				.dropdown {
					background: fade(@lightblue,80%);
				}
			}
			&.item_03 {
				&>a {
					color: @green;
					.icon {
						background: @green;
						&:before{
							border-bottom-color: @green;
						}
					}
					&:hover {
						.icon {
							background: darken(@green,5%);
							&:before{
								border-bottom-color: darken(@green,5%);
							}
						}
					}
				}
				.dropdown {
					background: fade(@green,80%);
				}
			}
			&.item_04 {
				&>a {
					color: @lightgreen;
					.icon {
						background: @lightgreen;
						&:before{
							border-bottom-color: @lightgreen;
						}
					}
					&:hover {
						.icon {
							background: darken(@lightgreen,5%);
							&:before{
								border-bottom-color: darken(@lightgreen,5%);
							}
						}
					}
				}
				.dropdown {
					background: fade(@lightgreen,90%);
				}
			}
			&.cycle-pager-active {
				&>a {
					.icon {
						&:before{
							display: block;
						}
					}
				}
			}
		}
	}
}
.mod_custom-slideshow {
	ul {
		.rul;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		li {
			.rli;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			img{
				width: 100%!important;
			}
			&.cycle-slide {
				img {
					display: none;
				}
			}
		}
	}
}
.mod_custom-intro {
	.clearfix;
	position: relative;
	padding: 0 240px 28px 0;
	font-size: 18px;
	line-height: 1.2;
	background: url(../images/bg/02.png) repeat-x left bottom;
	.mod-title {
		.fh;
		font-size: 36px;
		line-height: 1.2;
		margin: 10px 0 25px;
		color: @blue;
	}
	nav {
		position: absolute;
		right: 0;
		bottom: 46px;
		width: 200px;
		a {
			.btn;
			.border-radius(31px);
			display: block;
			height: 61px;
			line-height: 58px;
			padding: 0 22px;
			font-size: 20px;
			&:before{
				.fi;
				.transition(0.2s);
				float: right;
				content: '\e801';
				margin: 0 0 0 10px;
				font-size: 24px;
				color: #9c9c9c;
			}
			&:hover{
				&:before{
					color: #fff;
				}
			}
		}
	}
}
.mod_newsflash_xart {
	margin: 40px 0;
	article {
		.clearfix;
		margin: 30px 0 0;
		line-height: 1.2;
		figure {
			img {
				float: left;
				margin: 5px 23px 0 0;
				border-left: 18px solid @cl;
				-webkit-box-sizing: initial;
				-moz-box-sizing: initial;
				box-sizing: initial;
			}
		}
		h2,time {
			.fh;
			display: inline-block;
			color: @lightblue;
			margin: 0 4px 0 0;
			font-size: 17px;
			line-height: 1.3;
		}
		h2 {
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		p {
			margin: 8px 0;
		}
		&.item_01 figure img{
			
		}
	}
	nav {
		margin: 30px 0;
		a {
			.btn;
			.border-radius(31px);
			font-size: 20px;
			height: 61px;
			line-height: 58px;
			color: @blue;
			background: @lightgreen;
			text-transform: lowercase;
			padding: 0 34px;
			&:before{
				.fi;
				.transition(0.2s);
				content: '\e801';
				float: right;
				font-size: 22px;
				margin: 0 -10px 0 20px;
				color: @green;
			}
			&:hover{
				color: #fff;
				background: @green;
				&:before{
					color: #fff;
				}
			}
		}
	}
}
.mod_custom-calendar {
	margin: 34px 0;
	.mod-title {
		.fh;
		font-size: 21px;
		line-height: 1.2;
		color: @lightgreen;
		margin: 0 0 22px;
	}
	.calendar {
		margin:  0 20px 0 0;
	}
	.ui-datepicker-header {
		.clearfix;
		.fh;
		color: @blue;
		text-align: center;
		padding: 0 0 9px;
		margin: 0 0 12px;
		border-bottom: 1px solid #c5c5c5;
		.ui-datepicker-prev,.ui-datepicker-next {
			position: relative;
			float: left;
			width: 20px;
			height: 20px;
			text-indent: -9999px;
			&:before{
				.fi;
				position: absolute;
				left: 5px;
				top: 4px;
				content: '\e803';
				text-indent: 0;
				font-size: 13px;
			}
		}
		.ui-datepicker-next {
			float: right;
			&:before{
				left: auto;
				right: 5px;
				content: '\e804';
			}
		}
	}
	.ui-datepicker-calendar {
		width: 100%;
		text-align: center;
		font-size: 12px;
		th {
			font-size: 13px;
			font-weight: bold;
			color: @blue;
		}
		td {
			padding: 0;
			border: 1px solid #c5c5c5;
			a,span {
				display: block;
				height: 20px;
				line-height: 20px;
				text-decoration: none;
			}
			&.ui-datepicker-current-day {
				a,span {
					background: @lightblue;
					font-weight: bold;
					color: #fff;
				}
			}
			a {
				background: @lightgreen;
				font-weight: bold;
				color: @cp;
			}
		}
	}
	nav {
		margin: 10px 0;
		font-size: 14px;
		a {
			display: inline-block;
			position: relative;
			padding: 0 0 0 30px;
			&:before{
				.fi;
				position: absolute;
				left: 3px;
				top: 0;
				font-size: 18px;
				line-height: 1;
				text-decoration: none;
				content: '\e800';
			}
		}
	}
}
.mod_custom-random-image {
	margin: 30px 0;
	.mod-title {
		.fh;
		font-size: 21px;
		line-height: 1.2;
		margin: 0 0 15px;
		color: @lightgreen;
	}
	ul {
		.rul;
		li {
			.rli;
		}
	}
}
.mod_menu-sidebar {
	ul {
		.rul;
		margin: 15px 0;
		li {
			.rli;
			.fh;
			font-size: 22px;
			line-height: 1.2;
			margin: 11px 0;
			a {
				position: relative;

				color: @blue;
				text-decoration: none;
				&:before{
					.transition(0.2s);
					position: absolute;
					content: '';
					left: 0;
					bottom: -3px;
					width: 0%;
					height: 2px;
					background: #ccc;
				}
				&:hover{
					&:before{
						width: 100%;
					}
				}
			}
			&.act {
				&:before{
					left: -40px;
					top: -12px;
					content: url(../images/bg/03.png);
				}
				&>a {
					color: @green;
				}
			}
			ul {
				margin: 20px 0;
				li {
					font-size: 16px;
					line-height: 1.2;
					margin: 10px 0 10px 10px;
					&.act {
						&:before{
							display: none;
						}
					}
				}
			}
		}
	}
}
.mod_banners {
	margin: 50px 0;
	ul {
		.rul;
		li {
			.rli;
			margin: 25px 0;
		}
	}
}
.mod_menu-footer {
	margin: 21px 0 8px;
	ul {
		.rul;
		li {
			.rli;
			display: inline;
			color: #fff;
			font-size: 16px;
			margin: 0 6px 0 0;
			&:before{
				position: relative;
				content: '/';
				top: 2px;
				font-size: 18px;
				margin: 0 10px 0 0;
			}
			&:first-child {
				&:before{
					display: none;
				}
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}