html,body,button,input,select,textarea{
	.fp;
}
body{
	font-size: @fsp;
	line-height: @lhp;
	text-align: center;
	font-weight: normal;
	color: @cp;
	background: @bb;
}
h1,h2,h3,h4,h5,h6{
	margin: 30px 0 10px 0;
	line-height: @lhh;
	font-weight: normal;
}
h1{
	.fh;
	font-size: @fsh1;
	line-height: @lh1;
	color: @cl;
	margin-top: 0;
}
h2{
	.fh;
	font-size: @fsh2;
}
h3{
	.fh;
	font-size: @fsh3;
}
h4{
	font-size: @fsh4;
}
h5{
	font-size: @fsh5;
}
h6{
	font-size: @fsh6;
}
p{
	margin: 20px 0;
}
ul,ol{
	padding: 0;
	margin: 20px 0 20px 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
	margin-top: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 16px;
	margin: 0;
	&:before{
		.fi;
		position: absolute;
		top: 7px;
		left: 0;
		font-size: 8px;
		line-height: 1;
		content: '\e804';
	}
	&>ul{
		padding:10px 0;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin:0 0 0 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
hr{
	margin: 20px 0;
	border: 0;
	border-top: 1px solid lighten(@cp,50%);
	border-bottom: 1px solid lighten(@cp,100%);
}
strong,b{
	font-weight: bold;
}
em,i{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align: baseline;
	font-size: 60%;
	line-height: 1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	color: @cl;
	cursor: pointer;
	&:hover{
		text-decoration:none;
	}
}
