
.icon-search:before { content: '\e800'; } /* '' */
.icon-asterisk:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-play-circled:before { content: '\e806'; } /* '' */